<div class="footer">
    <div class="inner clearfix">
        <div class="logo">Mandalart</div>
        <p class="copyright">copyright &copy; 2016 HeroP. all rights reserved</p>
        <div class="name">최병기 &nbsp;/&nbsp; 박영웅</div>
    </div>
</div>