<div class="footer">
    <div class="inner clearfix">
        <a class="logo" href="#">Mandalart</a>
        <p class="copyright">copyright &copy; 2016 Mandalart. all rights reserved</p>
        <div class="name">BK-Choi<br/>/ Herop</div>
    </div>
</div>