<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/about.css' />
    </head>
    <body class="about">
        <div class="inner">
            <h1>Mandalart 란?</h1>
            <p>
                이마이즈미 히로아키가 1987년 창안한 만다라트(Mandalart)<br/>
                'Manda'는 진수<br/>
                'la'는 소유<br/>
                'Art'는 기술, 방법<br/>
                만다라(曼茶羅)는 깨달음의 경지를 반복하는 불화로 현대 심리학에서도 명상과 치유의 도구로 쓰인다.
            </p>
            <img class="man-ex" src="/images/mandalart_example01.jpg" />
        </div>
    </body>
</html>