<div class="header">
    <div class="inner">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.svg" />
                <span>M</span>andalart
            </a>
        </div>

        <ul class="menu">
            <li><a href="/about">About Us</a></li>
            <li><a href="#">Menu2</a></li>
        </ul>

        <ul class="sign">
            <li><a class="btn" href="#">Sign in</a></li>
            <li><a class="btn" href="#">Sign up</a></li>
        </ul>
    </div>
</div>