.header {
  @header-height: 80px;
  height: @header-height;
  background: black;

  .inner {
    width: 960px;
    height: @header-height;
    margin: 0 auto;

    .logo {
      font-size: 30px;
      line-height: @header-height;

      a {
        color: white;
      }
    }
  }
}